# Execution environment (local or cloud)
EXECUTION_ENV=local

# Environment variables for cloud execution
OPENAI_API_KEY=
CLOUD_LLM_MODEL=gpt-4o-mini
CLOUD_EMBEDDING_MODEL=text-embedding-3-small

# Environment variables for local execution 
LOCAL_MODEL_BASE_URL=http://localhost:11434
LOCAL_LLM_MODEL=llama3.2
LOCAL_EMBEDDING_MODEL=nomic-embed-text
