backports.tarfile
bcrypt
black
cloudpickle
deepeval
docling
email-validator
flet-cli
flet-desktop
flet-web
greenlet
grpcio-status
httptools
ipykernel
jaraco.collections
langchain-community
langchain-mcp-adapters
langchain-ollama
langchain-openai
langgraph
llama-index
llama-index-llms-ollama
llama-index-tools-mcp
matplotlib
moviepy
multiprocess
pandasql
passlib
pefile
pip-chill
poetry
pydot
pygraphviz
pyinstaller
pymongo
python-jose
pywin32-ctypes
semchunk
st-pages
tavily-python
tinydb
tomli
uvloop
watchfiles
